.sidenavbar-button {
    position: absolute;
    z-index: 3;
    top: 20spx;
    right: 20px;
    cursor: pointer;
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    display: none;
}
.sidenavbar-button div {
    width: 20px;
    height: 2px;
    margin-bottom: 3px;
    background-color: var(--dark);
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91),
        opacity 500ms, box-shadow 250ms, background-color 500ms;
}
.navbar-dark .sidenavbar-button div {
    background-color: var(--light);
}
.sidenavbar-button-top {
    transform: translateX(4px) scaleX(0.4);
}
.sidenavbar-button-mid {
    transform: translateX(0px) scaleX(0.8);
}
.sidenavbar-button-bottom {
    transform: translateX(2px) scaleX(0.6);
}
.sidenavbar-active .sidenavbar-button-top {
    transform: translateY(5px) rotate(-135deg);
}
.sidenavbar-active .sidenavbar-button-mid {
    transform: scale(0);
}
.sidenavbar-active .sidenavbar-button-bottom {
    transform: translateY(-5px) rotate(-45deg);
}

@media screen and (max-width: 575.98px) {
    #sidenavbarbehind {
        position: fixed;
        background: rgba(0, 0, 0, 0.2);
        top: 57px;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }
    .sidenavbar-active #sidenavbarbehind {
        display: block;
        z-index: 1;
    }
    .navbar-collapse {
        position: fixed;
        z-index: 2;
        overflow: auto;
        top: 57px;
        right: -275px;
        width: 0;
        opacity: 0;
        bottom: 0;
        background-color: #e4e4e4;
        color: #343838;
        transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    }
    [class*='navbar-dark'] .navbar-collapse {
        color: var(--white);
    }
    .navbar-light .navbar-collapse,
    .navbar.bg-light .navbar-collapse {
        background-color: var(--light);
    }
    .navbar-dark .navbar-collapse,
    .navbar.bg-dark .navbar-collapse {
        background-color: var(--dark);
    }
    .navbar-blue .navbar-collapse,
    .navbar.bg-blue .navbar-collapse {
        background-color: var(--blue);
    }
    .navbar-indigo .navbar-collapse,
    .navbar.bg-indigo .navbar-collapse {
        background-color: var(--indigo);
    }
    .navbar-purple .navbar-collapse,
    .navbar.bg-purple .navbar-collapse {
        background-color: var(--purple);
    }
    .navbar-pink .navbar-collapse,
    .navbar.bg-pink .navbar-collapse {
        background-color: var(--pink);
    }
    .navbar-red .navbar-collapse,
    .navbar.bg-red .navbar-collapse {
        background-color: var(--red);
    }
    .navbar-orange .navbar-collapse,
    .navbar.bg-orange .navbar-collapse {
        background-color: var(--orange);
    }
    .navbar-green .navbar-collapse,
    .navbar.bg-green .navbar-collapse {
        background-color: var(--green);
    }
    .navbar-teal .navbar-collapse,
    .navbar.bg-teal .navbar-collapse {
        background-color: var(--teal);
    }
    .navbar-cyan .navbar-collapse,
    .navbar.bg-cyan .navbar-collapse {
        background-color: var(--cyan);
    }
    .navbar-white .navbar-collapse,
    .navbar.bg-white .navbar-collapse {
        background-color: var(--white);
    }
    .navbar-gray .navbar-collapse,
    .navbar.bg-gray .navbar-collapse {
        background-color: var(--gray);
    }
    .navbar-gray-dark .navbar-collapse,
    .navbar.bg-gray-dark .navbar-collapse {
        background-color: var(--gray-dark);
    }
    .navbar-primary .navbar-collapse,
    .navbar.bg-primary .navbar-collapse {
        background-color: var(--primary);
    }
    .navbar-secondary .navbar-collapse,
    .navbar.bg-secondary .navbar-collapse {
        background-color: var(--secondary);
    }
    .navbar-success .navbar-collapse,
    .navbar.bg-success .navbar-collapse {
        background-color: var(--success);
    }
    .navbar-info .navbar-collapse,
    .navbar.bg-info .navbar-collapse {
        background-color: var(--info);
    }
    .navbar-warning .navbar-collapse,
    .navbar.bg-warning .navbar-collapse {
        background-color: var(--warning);
    }
    .navbar-danger .navbar-collapse,
    .navbar.bg-danger .navbar-collapse {
        background-color: var(--danger);
    }
    .sidenavbar-active .navbar-collapse {
        width: 240px;
        right: 0px;
        opacity: 1;
        flex-direction: column;
    }
    .sidenavbar-active .navbar-collapse .navbar-nav {
        width: 240px;
        padding: 5px 20px;
        flex-direction: column;
    }
    .sidenavbar-active .navbar-collapse .nav-item {
        text-align: right;
        display: block;
    }
    body:not(.sidenavbar-active) .navbar-collapse * {
        display: none;
    }
    .sidenavbar-button {
        display: block;
    }
}
